*{

    margin: 0px;
    font-family: sans-serif;
    }
    
    #botonnav{
        background: linear-gradient(90deg, #ae00ff, #03a9f4);
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 3px;
    }
    
   .nav-link{
    color: white;
   }
    #phone{
        position: relative;
        left: 70px;
        top: 230px;
        width: 200px;
        height: 430px;
        
    }
    
    header{
        display: flex;
        justify-content: space-around;
       background-color:#1e172f;
     
    }
    
    #header1{
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 500px
    
    }
    
    #section1{
        display: flex;
        flex-direction: row;
    }
    #left-section1{
        width: 100%;
        height: 800px;
        background-color: #2e2550;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #product{
        margin-left: 320px;
    }
    .p-p{
        color: white;
        font-size: 80px;
        font-weight: bolder;
    }
    #text1{
        margin-top: 20px;
        font-size: 20px;
        color: white;
    }
    #button1-sect1{
        margin-top: 25px;
        width: 180px;
        height: 50px;
        background-color: whitesmoke;
        color: var(--pink);
        border: none;
        padding: 12px 25px;
        border-radius: 3px;
        font-weight: bold;
    }
    #button2-sect1{
        margin-top: 25px;
        width: 180px;
        height: 50px;
        background-color: transparent;
        color: whitesmoke;
        padding: 10px 35px;
        outline: none;
        border: solid 2px whitesmoke;
        border-radius: 3px;
        font-weight: bold;
    }
    #right-section1{
        width: 100%;
        height: 800px;
        background-image: url(../assets/images/hojasFondo.jpg);
        background-size: cover;
        opacity: 0.9;
    }
    #phone{
        position: relative;
        left: 120px;
        top: 100px;
    }  
    
   
        #section2{
    
            
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2,1fr);
            width: 100%;
            height: 600px;
         
    
            }
    #titulo-sect2-1{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 60px;
        margin-top: 15px;
        color: purple;
    }
    #box{
    
        display: flex;
        flex-direction: row;
    }
    #laptop{
    
        width: 90%;
        margin-top: 60px;
        margin-left: 5px;
      
    }
    #lado-derecho{
    
        display: flex;
        margin-left: 17%;
        width: 85%;
        margin-top: 20px;
    
    
    }
    
    #lado-izquierdo{
    
        width: 100%;
        height: 60px;
        margin-top: 20px;
        margin-left: 40px;
    
    }
    
    #titulo-iz{
    
        color: palevioletred;
        margin-top: 60px;
        font-size: 40px;
    }
    
    #subti{
    
        width: 50%;
      margin-top: 40px;
    }
    
    #subti1{
    
        width: 50%;
      margin-top: 40px;
      font-size: 25px;
      color: lightpink;
    }
    
    #lz-chulo{
    
        display: flex;
        flex-direction: row;
        line-height: 30px;
        margin-top: 8px;
        
    }
    
    #chulo{
        
        color: rgb(235, 28, 180);
        width: 35px;
        font-size: 25px;
    }
    
    #pricing-section {
        background-color: #2e2550;
        height: 900px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #pricing-title {
        color: white;
        font-size: 60px;
        margin-top: 20px;
        width: auto;
    }
    
    #pricing-description {
        margin-top: 30px;
        width: 800px;
        color: whitesmoke;
        font-size: 15px;
        text-align: center;
    }
    
    #pricing-boxes {
        margin-top: 40px;
        width: 1000px;
        height: auto;
        display: flex;
        justify-content: space-evenly;
    }
    
    .pricing-column {
        display: flex;
        flex-direction: column;
        width: 300px;
        border-radius: 5px;
        background-color: white;
    }
    
    .plan-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: 150px;
    }
    
    .plan-title {
        color: #f41587;
        font-size: 20px;
        font-weight: bolder;
    }
    
    .plan-title-alt {
        color: #2e2550;
        font-size: 20px;
        font-weight: bolder;
    }
    
    .plan-price {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        background-color: #f5f5f5;
    }
    
    .price-amount {
        font-size: 30px;
        font-weight: normal;
    }
    
    .price-duration {
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .plan-features {
        display: flex;
        flex-direction: row;
        height: auto;
        margin-top: 30px;
    }
    
    .feature-icons .feature-icon {
        margin-left: 40px;
        color: #f41587;
        padding-top: 20px;
        font-weight: bold;
    }
    
    .feature-icons .last-feature {
        margin-left: 40px;
        color: #2e2550;
        padding-top: 20px;
        font-weight: bold;
    }
    
    .feature-descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .feature-description {
        margin-left: 15px;
        color: #1e172f;
        font-size: 20px;
        padding-top: 18px;
    }
    
    .feature-icons-alt .feature-icon {
        margin-left: 40px;
        color: #2e2550;
        padding-top: 20px;
        font-weight: bold;
    }
    
    .plan-note {
        display: flex;
        align-items: center;
        text-align: center;
        width: 200px;
        margin-top: 30px;
        margin-left: 50px;
    }
    
    .plan-action {
        height: 50px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #get1{
        color: white;
        padding: 10px 15px;
        border-radius: 3px;
        border: none;
        background: linear-gradient(20deg, #ffb6de,#fa77bb,#ff68b6,#f85eae, #f41587);
    
    }
    #get2{
    
        color: white;
        padding: 10px 15px;
        border-radius: 3px;
        border: none;   
        background-color: #2e2550;
    }
    #get3{
    
        color: white;
        padding: 10px 15px;
        border-radius: 3px;
        border: none;   
        background-color: #2e2550;
    }
    
    footer{
        display: flex;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: start;
       
    }
    
    #texto-footer{
        display: flex;
        width: 50%;
        margin-left: 200px;
    }
    
    #redes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30px;
    margin-left: 200px;
    }
    #name{
        color: #f41587;
    }
    
    @media only screen and (max-width: 480px) {
    
    #botonnav{
        width: 80px;
        height: 10px;

    }
     #left-section1{
        width: 230px;
     }
     #text1{
        font-size: 20px;
        height: auto;
        width: 200px;
        margin-right: 100px;
     }
     #product{

        margin-left: 100px;
     }
     .p-p{
        font-size: 40px;
     }
     #right-section1{

        width: 250px;
     }
     #phone{
        position: relative;
        width: 200px;
        height: 400px;
        left: 30px;
        top: 200px;
     }
     #section2{

        height: 450px;
     }
     #box{

        height: 100px;
     }
     #titulo-sect2-1{

        font-size: 30px;
     }
     #lado-izquierdo{

        height: 200px;
     }
     #lado-derecho{
        height: 200px;
        width: 100px;
     }
     #laptop{
        position: relative;
        width: 200px;
        top: 100px;
        right: 65px;
        
     }
     #titulo-iz{

        font-size: 20px;
     }
     #subti{

        width: 100%;
     }
     #subti1{

        width: 100%;
        font-size: 20px;
     }
     #chulo{

        font-size: 20px;
     }

     #pricing-section{

        margin-top: 10px;
        height: 2100px;
     }
     
     #pricing-title{

        font-size: 40px;
     }
     #pricing-description{
        width: 470px;
        font-size: 16px;
     }

    #pricing-boxes{
        display: grid;
       flex-direction: column;
       margin-left: 5px;
       gap: 20px;
       width: auto;
       
    }
    #footer{

        width: 100px;

    }

    #texto-footer{
        display: flex;
        font-size: 10px;
        margin-right: 0px;
        margin-left: 0px;
        width: 350px;
    }
    #redes{
        gap: 5px;
        width: 20px;
        margin-left: 30px;
       
    }
    }


    @media only screen and (max-width: 768px) {
    
        #botonnav{
            width: 100px;
            height: 40px;
    
        }

    
         #left-section1{
            width: 50%;
         }
         #text1{
            font-size: 20px;
            height: auto;
            width: 200px;
            margin-right: 100px;
         }
         #product{
    
            margin-left: 100px;
         }
         .p-p{
            font-size: 40px;
         }
         #right-section1{
    
            width: 50%;
         }
         #phone{
            position: relative;
            width: 200px;
            height: 400px;
            left: 30px;
            top: 200px;
         }
         #section2{
    
            height: 450px;
         }
         #box{
    
            height: 100px;
         }
         #titulo-sect2-1{
    
            font-size: 30px;
         }
         #lado-izquierdo{
    
            height: 200px;
         }
         #lado-derecho{
            height: 200px;
            width: 100px;
         }
         #laptop{
            position: relative;
            width: 200px;
            top: 100px;
            right: 65px;
            
         }
         #titulo-iz{
    
            font-size: 20px;
         }
         #subti{
    
            width: 100%;
         }
         #subti1{
    
            width: 100%;
            font-size: 20px;
         }
         #chulo{
    
            font-size: 20px;
         }
    
         #pricing-section{
    
            margin-top: 10px;
            height: 2100px;
         }
         
         #pricing-title{
    
            font-size: 40px;
         }
         #pricing-description{
            width: 470px;
            font-size: 16px;
         }
    
        #pricing-boxes{
            display: grid;
           flex-direction: column;
           margin-left: 5px;
           gap: 20px;
           width: auto;
           
        }
        #footer{
    
            width: 100px;
    
        }
    
        #texto-footer{
            display: flex;
            font-size: 10px;
            margin-right: 0px;
            margin-left: 30px;
            width: 350px;
        }
        #redes{
            gap: 5px;
            width: 20px;
            margin-left: 250px;
           
        }
        }
    
    